node_modules
package-lock.json
.env
.cache
.caddy
.tmp
.storage
coverage
cypress/videos
cypress/screenshots

# data ignore
data
.socket

# fixture include
!test/fixtures/data/
test/fixtures/data/*
!test/fixtures/data/space.json